// Typography
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --body: 'Inter', sans-serif;
}

// Colors & Shadows
:root {
    // Core
    --primary: #009d4c;
    --background: #edeae3; // Background
    --surface: #f8f9fa; // For cards, modals, or containers
    --surface-light: #fefefe; // For cards, modals, or containers that need to be more prominent
    --surface-border: #eff1f2; // For borders, dividers, or outlines
    --text: #858a94; // Text color
    --text-light: #adb7c9; // Text color
    --text-dark: #000000; // Alternate text color (dark)
    --overlay: rgba(0, 0, 0, 0.05); // For overlays, modals, or dark backgrounds

    // Utility
    --error: #f03e3e; // Used for error states, alerts

    // Colors
    --color-red: #ff8787;
    --color-red-light: #fff5f5;
    --color-orange: #ffa94d;
    --color-orange-light: #fff4e6;
    --color-green: #69db7c;
    --color-green-light: #ebfbee;

    // Shadows
    --shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px;
    --shadow-md: rgba(0, 0, 0, 0.08) 0px 5px 10px;
    --shadow-lg: rgba(0, 0, 0, 0.4) 0px 10px 15px;
    --shadow-text: rgba(0, 0, 0, 0.4) 2px 2px 2px;
}
